<% if  (current_user.id.to_s == params[:id].to_s) || (current_user.admin == true)  %>
<body class="bg-primary">
    <div class="container-expand-lg">
        <div class="card">
            <div class="card-header text-secondary">
                <h1>Editing Student</h1>
            </div>
            <div class="card-body justify-content-center">
                <%= render 'form', student: @student %>
            </div>
            <div class="card-footer text-center">
            <%= link_to 'Show', @student %> |
            <%= link_to 'Back', students_path %>
            </div>
        </div>    
    </div>
</body>
<% else %>
<h1> User Not Matching</h1>
<% end %>