
<% if  (current_user.id.to_s == params[:id].to_s) || (current_user.admin == true)  %>
<h1>Editing Student</h1>
<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
<% else %>
<h1> User Not Matching</h1>
<% end %>